{% extends "base.html" %}
{% block content_title %}
    <h1>Авторизация</h1>
{% endblock %}
{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="RegForm">
            <p>
                {{ form.login.label }}<br>
                {{ form.login }}<br>
                {% for error in form.login.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }} <a href="/registration">Registration </a></p>
        </div>
    </form>
{% endblock %}