{% extends "base.html" %}

{% block content_title %}
<div class="profile-title">

<h1>Подписчики:</h1>
</div>
{% endblock %}
{% block content %}
  {% for item in users %}
<div class="profile-name" role="alert">
<figure>
    <img width="172px" height="172px"src="http://127.0.0.1:8080{{url_for('static',filename=''+item[1])}}" alt="Картинка с рамкой" style=" border: 6px  ridge #BCBCBC;" />



</figure>

<div/>

<style>
.profile-name {
  text-align: top;
}
figure {
  display: inline-block;
  vertical-align:top;
}
figure img {
    vertical-align:top;
}
</style>

    {% endfor %}

{% endblock %}